.navbar{
   background-color: #ebeced;
   margin-top: 0;
   padding: 3px;
}
.navbar-content{
    margin-left: 50px;
    margin-right: 20px;
    display: flex;
    
}

.brand{
    font-size: large;
    margin-left: 200px; 
    
}

.nav-link{
    list-style-type: none;
    margin-top: 22px;
    overflow: hidden;
    font-size: small;
    
}

.nav-item{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    
} 


.dropdown{
    border:none;
    background: none;
}

.down{
    width: 10px;
}

.cart{
    position: relative;
    margin-top: 20px;
    margin-left: 450px;
    
}


.cart-icon{
    width:12px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
  }
  
  #cartCount {
      font-size: 12px;
      background: black;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: 2px; 
  }